<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>优惠券管理 </h2>
    </div>

    <div class="cf">

        <!-- 高级搜索 -->
         <div class="search-form cf">
             <div style=" float: left; line-height: 30px; text-align: center;">
                 发放时间：
                 <input type="text" name="create_time_start" class="text input-small time" value="{$create_time_start}" placeholder="请选择日期">
                 -
                 <input type="text" name="create_time_end" class="text input-small time" value="{$create_time_end}" placeholder="请选择日期">
             </div>
             <div style="float: left; line-height: 30px; text-align: center; margin-left: 20px;">
                 使用时间：
                 <input type="text" name="used_time_start" class="text input-small time" value="{$used_time}" placeholder="请选择日期">
                 -
                 <input type="text" name="used_time_end" class="text input-small time" value="{$used_time}" placeholder="请选择日期">
             </div>
             <div style="float: left; line-height: 30px; text-align: center; margin-left: 20px;">
                 优惠券：
                     <select name="listcoupon" class="listcoupon" >
                         <option value="0">所有</option>
                         <volist name="listcoupon" id="vo">
                             <option value="{$vo.id}">{$vo.name}</option>
                         </volist>
                     </select>
                 <input type="hidden" id="cid" name="cid" value="{$cid}">
             </div>
             <div style="float: left; line-height: 30px; text-align: center; margin-left: 20px;">
                 渠道：
                 <select name="listcanalid" class="listcoupon" >
                     <option value="0">所有</option>
                     <volist name="listcanalid" id="vo">
                         <option value="{$vo.canalid}">{$vo.cname}</option>
                     </volist>
                 </select>
                 <input type="hidden" id="canalid" name="canalid" value="{$canalid}">
             </div>
            <div class="sleft" style="float: right;">
                <input type="text" name="code" class="search-input" value="{:I('code')}" placeholder="请输入卡券号">
                <!--<a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>-->
            </div>
             <a id="search"  class="btn" href="javascript:;" url="/admin.php?s=/Coupon/coupons.html">查 询</a>
             <a id="export"  class="btn" href="javascript:;" url="/admin.php?s=/Coupon/export_orders.html">导出</a>
        </div>

        <if condition="$create_time_start neq null">
            <div class="tip-ans" >
                <div class="box">
                    <div class="nn">{$create_time_status}</div>
                    <div class="xx"><a style="cursor: pointer;" data-condition="create_time">x</a></div>
                </div>
            </div>
        </if>
        <if condition="$used_time_status neq null">
            <div class="tip-ans" >
                <div class="box">
                    <div class="nn">{$used_time_status}</div>
                    <div class="xx"><a style="cursor: pointer;" data-condition="used_time">x</a></div>
                </div>
            </div>
        </if>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th>ID</th>
                        <th>券号</th>
                        <th>优惠券</th>
                        <th>总次数</th>
                        <th>剩余次数</th>
                        <th>领取时间</th>
                        <th>使用时间</th>
                        <th>到期时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="menu">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$menu.id}"></td>
                        <td>{$menu.id}</td>
                        <td>{$menu.code}</td>
                        <td>{$menu.cname}</td>
                        <td>{$menu.total_times}</td>
                        <td>{$menu.remain_times}</td>
                        <td>{$menu.create_time|date="Y-m-d",###}</td>
                         <td>
                        <!-- eq 1 表示已经未使用 eq 2 表示已经使用 -->
                        <if condition="$menu.status eq 2">
                            <if condition="$menu.used_time eq 0">
                                无使用
                            <else/> {$menu.used_time|date="Y-m-d",###}
                            </if>
                        <else />
                            未使用
                        </if>
                        </td>
                        <td>{$menu.end_time|date="Y-m-d",###}</td>
                        <td>
                        <if condition="$menu.status eq 1">
                        	<a href="{:U('coupon_use',array('id'=>$menu['id'],'value'=>2))}" class="ajax-get">
                            	使用
                            </a>
                        </if>
                        </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search,#export").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });

            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });

            $("div.tip-ans a").click(function(){
                var con = $(this).data("condition");
                if(con=="create_time")
                {
                    $("input[name='create_time_start']").val("");
                    $("input[name='create_time_end']").val("");
                }
                if(con=="used_time")
                {
                    $("input[name='used_time_start']").val("");
                    $("input[name='used_time_end']").val("");
                }
                $("#search").click();
            });

            //导航高亮
            highlight_subnav('{:U('coupons')}');

            Think.setValue("listcoupon", {$cid|default = 0});
            Think.setValue("listcanalid", {$canalid|default = 0});
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});

            $("select[name='listcoupon']").change(function(){
                $("#cid").val($("select[name='listcoupon']").val());
            });
            $("select[name='listcanalid']").change(function(){
                $("#canalid").val($("select[name='listcanalid']").val());
            });
        });
    </script>
</block>