<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑车款区域</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        {:hook('province_city_area',array('cityid'=>$rentbikeinfo["cityid"],'areaid'=>$rentbikeinfo["areaid"]))}
        <div class="form-item">
            <label class="item-label">车款</label>
            <div class="controls">
                <select name="rentbiketypeid" class="rentbiketypeid">
                    <option value="-1">未选择</option>
                    <volist name="RentbikeTypelist" id="vo">
                        <option value="{$vo['id']}">{$vo['typename']}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">租车配置<span class="check-tips">（首时（H）,首价（元）,续时（H），续价（元），封顶（元）,优惠时间（min））</span><span class="check-tips">（格式如 2,5,1,5,30,10）</span> </label>
            <div class="controls">
                <input class="text input-large" name="priceconfig" value="{$rentbikeinfo.priceconfig}" type="text">
            </div>
        </div>

        <div class="form-item">
            <input type="hidden" name="id" value="{$rentbikeinfo.id}"/>
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //Think.setValue("shopid", {$info.shopid|default = 0});
        //导航高亮
        highlight_subnav('{:U('index')}');

        $(document).ready(function(){
            $("select[name='rentbiketypeid']").val("{$rentbikeinfo.rentbiketypeid}");
        });
    </script>
</block>