<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>二手车管理 [ <present name="Think.get.group">
         <a href="{:U('index')}">全部</a><else/><strong>全部</strong></present>&nbsp;<foreach name="group" item="vo">
		<neq name="group_id" value="$key">
         <a href="{:U('index?group='.$key)}">{$vo}</a><else/><strong>{$vo}</strong></neq>&nbsp;     
        </foreach> ]</h2>
	</div>

	<!--<div class="cf">-->
		<!--<a class="btn" href="{:U('add')}">新 增</a>-->
		<!--<a class="btn" href="javascript:;">删 除</a>-->
		<!--<button class="btn list_sort" url="{:U('sort?group='.I('group'),'','')}">排序</button>-->
        <!---->
		<!--&lt;!&ndash; 高级搜索 &ndash;&gt;-->
		<!--<div class="search-form fr cf">-->
			<!--<div class="sleft">-->
				<!--<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入配置名称">-->
				<!--<a class="sch-btn" href="javascript:;" id="search" url="{:U('config/index')}"><i class="btn-search"></i></a>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<div class="data-table table-striped">
	<form class="ids" id="form1" name="form1" action="{:U('index')}">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>品牌</th>
					<th>品牌</th>
					<th>使用年限</th>
					<th>新旧程度</th>
					<th>电池容量</th>
					<th>评估价</th>
					<th>出售价</th>
					<th>卖家</th>
					<th>会员</th>
					<th>手机号码</th>
                    <th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="vo">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$config.id}"></td>
						<td><img src="{$vo.pic}" width="120" height="100" /></td>
						<td>{$vo.brand}</td>
						<td>{$vo.buy_date}</td>
						<td>{$vo.appearance}</td>
						<td>{$vo.battery_capacity}</td>
						<td>{$vo.price_ssessment}</td>
						<td>{$vo.price_customer}</td>
						<td>{$vo.linkman}</td>
						<td>{$vo.openid|get_fansname_openid}</td>
						<td>{$vo.tel}</td>
                        <td>{$vo.status|get_sechand_status} 
                        </td>
						<td>
                            <if condition="$vo.status eq 1">
                            	<button class="btn ajax-get" url="{:U('tongguo',array('id'=>$vo['id']))}" target-form="ids">通过审核</button>
                                <!--<button class="btn" url="{:U('butongguo',array('id'=>$vo['id']))}" target-form="ids">不通过</button>-->
                                <a class="btn" href="{:U('butongguo',array('id'=>$vo['id']))}">不通过</a>
                            </if>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$vo['id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
		</form>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	//点击排序
	$('.list_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});
});
</script>
</block>