<extend name="Base/common_my" />
<block name="header">
<link  href="__CSS__/swipe.css"  rel="stylesheet">
</block>

<block name="body">
    <div  id="slider"  class="swipe"  style="visibility: visible;">
    <div  class="swipe-wrap"  style="width: 4269px;">
    <figure  data-index="0"  style="width: 1423px; left: 0px; transition: 300ms; -webkit-transition: 300ms; -webkit-transform: translate(0px, 0px) translateZ(0px);">
      <div  class="wrap"> <a  href=" http://mp.weixin.qq.com/s?__biz=MzAwMzUxODQzMA==&mid=401896139&idx=1&sn=f534a79860e7b6bfbef3a8c7190ee934#rd"> <img  src="__IMG__/banner4.jpg"  width="100%"  height="100%">
        <div  class="text">滴啊滴租车</div>
        </a> </div>
    </figure>
    <figure  style="left: -1423px; width: 1423px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate(1423px, 0px) translateZ(0px);"  data-index="1">
      <div  class="wrap"> <a  href="#"> <img  src="__IMG__/banner5.jpg"  width="100%"  height="100%">
        <div  class="text">滴啊滴租车</div>
        </a> </div>
    </figure>
    <figure  style="left: -2846px; width: 1423px; transition: 300ms; -webkit-transition: 300ms; -webkit-transform: translate(1423px, 0px) translateZ(0px);"  data-index="2">
      <div  class="wrap"> <a  href="#"> <img  src="__IMG__/banner6.jpg"  width="100%"  height="100%">
        <div  class="text">滴啊滴租车</div>
        </a> </div>
    </figure>
  </div>
  <nav style="right:0; bottom:5px;">
    <ul  id="position">
      <li  class="on"></li>
      <li  class=" "></li>
      <li  class=" "></li>
    </ul>
  </nav>
</div>
     <div class="module">
        <ul>
           <li> <a href="{:U('Charge/index')}">
                 <div class="yuan1">
                     <div class="yuantu1"></div>
                 </div>
                 <div class="yuanzi">充电</div>
                 </a>
           </li>
           <li><a href="{:U('Rent/index')}">
                 <div class="yuan2">
                     <div class="yuantu2"></div>
                 </div>
                 <div class="yuanzi">租车</div>
                 </a>
           </li>
           <li><a href="{:U('Maintain/index')}">
                 <div class="yuan3">
                     <div class="yuantu3"></div>
                 </div>
                 <div class="yuanzi">保养</div>
                 </a>
           </li>
           <li><a href="{:U('Mall/index')}">
                 <div class="yuan4">
                     <div class="yuantu4"></div>
                 </div>
                 <div class="yuanzi">精品</div>
                 </a>
           </li>
           <li><a href="{:U('Repair/index')}">
                 <div class="yuan5">
                     <div class="yuantu5"></div>
                 </div>
                 <div class="yuanzi">维修</div>
                 </a>
           </li>
           <li><a href="{:U('Sechand/index')}">
                 <div class="yuan6">
                     <div class="yuantu6"></div>
                 </div>
                 <div class="yuanzi">二手车</div>
                 </a>
           </li>
           <li><a href="#">
                 <div class="yuan7">
                     <div class="yuantu7"></div>
                 </div>
                 <div class="yuanzi">更多</div>
                 </a>
           </li>
        </ul>
     </div>
     <div class="clearflx"></div>
     <div class="function">
        <div class="funleft">
           <a href="http://mp.weixin.qq.com/s?__biz=MzAwMzUxODQzMA==&mid=402018136&idx=1&sn=4a33d4a8919e0b2fc5cd69d9749a888a#rd">
           <div class="tibao jiaxian">
                 <div class="tubiao"></div>
                 <div class="tuzi">热门活动</div>
            </div>
            <div class="titu"><img src="__IMG__/banner5.jpg" width="100%" height="100" /></div>
            </a>
        </div>
        <div class="funright">
           <a href="{:U('Fans/coupons')}">
           <div class="tibao jiaxian">
                 <div class="tubiao"></div>
                 <div class="tuzi">优惠券</div>
            </div>
            <div class="titu"><img src="__IMG__/jifentu.jpg" width="100%" height="100" /></div>
            </a>
        </div>
     </div>
     <div class="clearflx"></div>
     <div class="kong" style="display:none;"></div>
     <div class="dibu" style="display:none;">
          <div class="dikuai">
              <a href="#">
              <div class="ditu"></div>
              <div class="dizi">加入滴啊滴</div>
              </a>
          </div>
          <div class="dikuai">
              <a href="#">
              <div class="ditu2"></div>
              <div class="dizi">滴啊滴文化</div>
              </a>
          </div>
     </div>
</block>

<block name="side"> </block>
<block name="script"> 
<script  type="text/javascript"  src="__JS__/jquery.lazyload.min.js"></script> 
<script  src="__JS__/swipe.js"></script>
    <style>
        .citychange a{margin: 5px; color: #477fc0  }
    </style>
<script>
        $("img.lazy").lazyload({
            effect : "fadeIn"
        });

//        顶部幻灯片效果
        var bullets = document.getElementById('position').getElementsByTagName('li');
        var slider =
                Swipe(document.getElementById('slider'), {
                    auto: 3000,
                    continuous: true,
                    disableScroll: false,
                    callback: function(pos) {
                        var i = bullets.length;
                        while (i--) {
                            bullets[i].className = ' ';
                        }
                        bullets[pos].className = 'on';
                    }
                });
        function choose_city(){
            layer.open({
                type:4, //page层
                content: '{$allcity}'
            });
        }

        var cityname;
        function setthiscity(id)
        {
            cityname =$("div.citychange a[id="+id+"]").html();
            console.log(cityname);
            $.post("/wap.php/Location/setCityid/from/x",{"cityid": id},function(page){
                layer.closeAll();
                var message = layer.open({
                    content:page.info,
                    time:2,
                    end:function(){
                        //console.log('end');
                        $("#spancity").html("("+cityname+")").show();
                    }
                });
                //layer.closeAll();
            },"json");
        }
 </script>  
 
</block>
