<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>积分商城产品 [ <present name="Think.get.group">
         <a href="{:U('index')}">全部</a><else/><strong>全部</strong></present>&nbsp;<foreach name="group" item="vo">
		<neq name="group_id" value="$key">
         <a href="{:U('index?group='.$key)}">{$vo}</a><else/><strong>{$vo}</strong></neq>&nbsp;     
        </foreach> ]</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('gift_add')}">新 增</a> 
        
		<div class="search-form fr cf" style="display:none;">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入配置名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('config/index')}"><i class="btn-search"></i></a>
			</div>
		</div>
	</div>

	<div class="data-table table-striped">
	<form class="ids" id="form1" name="form1" action="{:U('index')}">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th></th>
					<th>名称</th>
					<!-- <th>类型</th>-->
					<th>所需积分</th>
					<th>期限</th>
					<th>可用</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="vo">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$config.id}"></td>
						<td><img src="{$vo.img}" width="120" height="100" /></td>
						<td>{$vo.name}</td>
						<!-- <td>{$vo.gifttype|get_gift_type}</td> -->
						<td>{$vo.score}</td>
						<td>{$vo.valid_time|date='Y-m-d',###}</td>
						<td>{$vo.status|get_yesorno}</td>
						<td>
							<a title="编辑" href="{:U('gift_edit?id='.$vo['id'])}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('gift_del?id='.$vo['id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
		</form>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	//点击排序
	$('.list_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});
});
</script>
</block>