<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2><present name="data">[ {$data.title} ] 子</present>红包策略 </h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('redpaper_add')}">新 增</a>
        <button class="btn ajax-post confirm" url="{:U('redpaper_del')}" target-form="ids">删 除</button>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入策略名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>服务类型</th>
                        <th>优惠券</th>
                        <th>优惠券数量</th>
                        <th>有效期</th>
                        <th>可用</th>
                        <th>是否红包全额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="redpaper">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$redpaper.id}"></td>
                        <td>{$redpaper.id}</td>
                        <td>{$redpaper.name}</td>
                        <td>{$redpaper.service_type|get_order_type}</td>
                        <td>{$redpaper.couponid|get_coupon_id}</td>
                        <td>{$redpaper.qty}</td>
                        <td>{$redpaper.days}天</td>
                        <td>{$redpaper.status|get_yesorno}</td>
                        <td>{$redpaper.isfullpay|get_yesorno}</td>
                        <td>
                            <a title="编辑" href="{:U('redpaperedit?id='.$redpaper['id'])}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('redpaper_del?id='.$redpaper['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">

        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('redpaper')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>