<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{:isset($info['id'])?'编辑':'新增'}红包策略</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">策略名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
            </div>
        </div>
      
       <div class="form-item">
            <label class="item-label">服务类型<span class="check-tips"></span></label>
            <div class="controls">
                <select name="service_type" class="coupon_type" >
                     <volist name="Think.config.ORDER_TYPE" id="type">
						<option value="{$key}">{$type}</option>
			         </volist>
                </select>
            </div>
        </div>
        
         <div class="form-item">
            <label class="item-label">优惠券<span class="check-tips"></span></label>
            <div class="controls">
                <select name="couponid" class="menu_type" >
                	 <volist id="list" name="lstCoupon">
                        <option value="{$list.id}">{$list.name}</option>
                     </volist>
                </select>
            </div>
        </div> 
        
         <div class="form-item">
            <label class="item-label">优惠券数量</label>
            <div class="controls">
                <input type="text" class="text input-large" id="qty" name="qty" value="{$info.qty|default=''}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">有效期(天)</label>
            <div class="controls">
                <input type="text" class="text input-large" id="days" name="days" value="{$info.days|default=''}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="status" value="1">可用</label>
                <label class="radio"><input type="radio" name="status" value="0">禁用</label>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">是否红包全额<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="isfullpay" value="1">是</label>
                <label class="radio"><input type="radio" name="isfullpay" value="0">否</label>
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        Think.setValue("service_type", {$info.service_type|default = 1});
        Think.setValue("couponid", {$info.couponid|default = 1});
        Think.setValue("status", {$info.status|default = 1});
        Think.setValue("isfullpay", {$info.isfullpay|default = 1});
        //导航高亮
        highlight_subnav('{:U('redpaperedit')}');


    </script>
</block>