<extend name="Base/common_my" />
<block name="header">
    <link rel="stylesheet" href="/Public/Wap/css/style.css" type="text/css" />
</block>
<block name="body">

<div style="margin-top:0;">
  <div  id="myTabContent" class="tab-content">
   <ul role="tabpanel"  class="tab-pane active order" id="home">
      <present name="lstOrder"> 
    <volist id="list" name="lstOrder">
       <li>
          <p>订单号：{$list.transid} <span>{$list.statusname}</span></p>
          <p>下单时间：{$list.create_time|date="Y年m月d日H时i分",###}</p>
          <p>门店：{$list.shop}</p>
          <div class="anniu2">
            <a href="{:U('Fans/order_maintain_details',array('oid'=>$list['id']))}"> <div class="sc_ann">详情</div></a>
            <if condition="$list.status eq 1">
            	<a href="/wxpay/wap.php?s=/Maintain/pay/oid/{$list['id']}"><div class="pj_ann">支付</div></a>
          	</if>
            <if condition="($list.status eq 2)">

                <a href="{:U('Fans/order_confirm',array('transid'=>$list['transid']))}"><div class="pj_ann">商家使用</div></a>

            </if>
          </div>
       </li>
       </volist>
       <else/>
       <div class="noorder">
          <div class="tb"></div>
          <p>您还没有相关订单</p>
          <span>去看看您需要什么</span>
          <a href="{:U('Maintain/index')}">去看看</a>
      </div>
       </present>
    </ul>
   </div>
</div>
 
</block>

<block name="side"> </block>

<block name="script">
	<script type="text/javascript">
	$(document).ready(function(){

		$('#myTab a').click(function (e) {
		  //e.preventDefault();
		  //$(this).tab('show');
		})
		
		$(".ann").click(function(){
			$("#form1").submit();
		});
		
		$("#my").click(function(){
			top.location.href = "{:U('Fans/my')}";
		});
		
		$("#score").click(function(){
			top.location.href = "{:U('Fans/score_get')}";
		});
		
		$("#myorder").click(function(){
			top.location.href = "{:U('Fans/index')}";
		});
		
		$(".pj_ann").click(function(){
			var oid = $(this).attr('id');
			top.location.href = "/wap.php/Fans/remark/flag/BY/oid/"+oid+'.html';
		});
	});
	</script>
</block>
