<extend name="Base/common_my" />
<block name="header">
</block>
<block name="body">
<div class="geren" style="margin-top: 0;">
	<div id="myTabContent" class="tab-content">
		<ul role="tabpanel" class="tab-pane active order" id="home">
			<li style="border: 0;">
				<div class="biaotid">
					<p>
						订单号：{$order.orderid} <span>{$order.statusname}</span>
					</p>
					<div class="clearfix"></div>
				</div>

				<div class="dingaw">
				<volist name="mallinfo" id="vo">
					<div class="neirong">产品：{$vo.title}</div>
				</volist>
					<div class="neirong">
						 
						下单时间：{$order.create_time|date='Y-m-d H:i',###}
						
					</div>
				 
					<div class="neirong">费用：<if condition="$order['pay_time'] eq null">未支付<else/>{$order.price}元</if></div>
					<div class="clearfix"></div>
				</div>


			</li>

		</ul>

	</div>
</div>
<div class="clearfix"></div>

</block>

<block name="side"> </block>
<block name="script"> <script>

</script>
</block>