<extend name="Base/common" />
<block name="header">
</block>

<block name="body">

    <form id="form1" method="post">
        <input type="hidden" name="transid" value="{:$_GET['transid']}" />
        <div class="content">
            <div class="xiaokuan">
                <div class="xiaozi">订单号</div>
                <div class="xiaojian changui">{:$_GET['transid']}</div>
                <div class="clearflx"></div>
            </div>
            <div class="xiaokuan">
                <div class="xiaozi">密码</div>
                <div class="xiaojian feiyong">
                    <input type="password" id="pass" name="pass" class="input_box"></div>
                <div class="clearflx"></div>
            </div>
            <div class="xiaokuan">
                <div class="xiaozi">备注</div>
                <div class="xiaojian feiyong">
                    <input type="text" id="memo" name="memo"  class="input_box select2" value=""></div>
                <div class="clearflx"></div>
            </div>
            <div class="anniu">确认</div>
        </div>
    </form>



</block>

<block name="side"> </block>
<block name="script">
<script src="__JS__/layer.m/layer.m.js" type="text/javascript"></script>
<script language="javascript">
var isWxPay = true;
  $(document).ready(function(){
      if($("body").height()<$(window).height()){$("body").height($(window).height());}//用于下拉框全屏可点

	  
  	$(".anniu").click(function(event){

  		if('' == $("#pass").val())
		{
			lalert('请输入您的密码');
			return;
		}
        else if('111111' != $("#pass").val())
        {
            lalert('密码错误');
            return;
        }
  		$(this).text('正在提交...');
  		$(this).unbind( event );
  		$("#form1").submit();
  	});
  }); 
  
  </script>
</block>
