<extend name="Base/common_my" />
<block name="header">
</block>
<block name="body">

<div class="geren" style="margin-top:0;">
 <ul class="list1" id="myTab" role="tabpanel" style="margin-top:0;">
       <li class="dropdown li_li">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">保养订单<b class="caret"></b></a>
          <!--
           <ul class="dropdown-menu menu">
              <li><a class="menu_li" href="{:U('Fans/order_repair')}">维修订单</a></li>
              <li><a class="menu_li" href="{:U('Fans/order_maintain')}">保养订单</a></li>
              <li><a class="menu_li" href="{:U('Fans/order_charge')}">充电订单</a></li>
              <li><a class="menu_li" href="{:U('Fans/order_rent')}">租车订单</a></li>
              <li><a class="menu_li" href="{:U('Fans/order_mall')}">精品订单</a></li>
           </ul>
           -->
        </li>
        <volist name="Think.config.ORDER_STATUS_MAINTAIN" id="type">
		<li class="li_li <if condition="($_GET['s'] neq '') and ($_GET['s'] eq $key)"> active</if>"><a href="{:U('Fans/order_maintain',array('s'=>$key))}" data-toggle="tabpanel">{$type}</a></li>
		</volist>
        
  </ul>
  <div  id="myTabContent" class="tab-content">
   <ul role="tabpanel"  class="tab-pane active order" id="home">
      <present name="lstOrder"> 
    <volist id="list" name="lstOrder">
       <li>
          <p>订单号：{$list.transid} <span>{$list.statusname}</span></p>
          <p>下单时间：{$list.create_time|date="Y年m月d日H时i分",###}</p>
          <p>门店：{$list.shop}</p>
          <div class="ann">
            <a href="{:U('Fans/order_maintain_details',array('oid'=>$list['id']))}"> <div class="sc_ann">详情</div></a>
            <if condition="$list.status eq 1">
            	<a href="/wxpay/wap.php?s=/Maintain/pay/oid/{$list['id']}"><div class="pj_ann">支付</div></a>
          	</if>
            <if condition="($list.status eq 2)">
            	<if condition="$list.isremark eq 0">
            	<a href="#"><div class="pj_ann" id="{$list.id}">评价</div></a>
            	</if>

                <a href="{:U('Fans/complain',array('transid'=>$list['transid']))}"><div class="pj_ann">投诉</div></a>

                <a href="{:U('Fans/order_confirm',array('transid'=>$list['transid']))}"><div class="pj_ann">商家使用</div></a>

            </if>
          </div>
       </li>
       </volist>
       <else/>
       <div class="noorder">
          <div class="tb"></div>
          <p>您还没有相关订单</p>
          <span>去看看您需要什么</span>
          <a href="{:U('Maintain/index')}">去看看</a>
      </div>
       </present>
    </ul>
   </div>
</div>
 
</block>

<block name="side"> </block>

<block name="script">
	<script type="text/javascript">
	$(document).ready(function(){

		$('#myTab a').click(function (e) {
		  //e.preventDefault();
		  //$(this).tab('show');
		})
		
		$(".ann").click(function(){
			$("#form1").submit();
		});
		
		$("#my").click(function(){
			top.location.href = "{:U('Fans/my')}";
		});
		
		$("#score").click(function(){
			top.location.href = "{:U('Fans/score_get')}";
		});
		
		$("#myorder").click(function(){
			top.location.href = "{:U('Fans/index')}";
		});
		
		$(".pj_ann").click(function(){
			var oid = $(this).attr('id');
			top.location.href = "/wap.php/Fans/remark/flag/BY/oid/"+oid+'.html';
		});
	});
	</script>
</block>
