/*
  darkblue  : #176785;
  bluegreen : #499989;
  lightgreen: #BED194;
  milk      : #FFD7AC;
  red       : #FF534E;
*/

html {
}

body {
  color: #176785;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #FF534E;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

a:hover {
  border-bottom-color:#FFD7AC;
}

.control {
  display: inline-block;
  width: 10%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #FFD7AC;
  border-radius: 5px;
  margin: 10px;
}

.container {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}

article {
  position: relative;

}

article:hover {
  border-color: #499989;
}

article:first-child {
  margin-top:0;
}

article .title {
  position: absolute;
  left: 10px;
  top: -32px;
  padding-left: 5px; padding-right: 5px;
  background-color: #fff;
}

.number-pb {
  position: relative;
  height: 10px;
  background-color: #ddd;
  border-radius:5px;
  margin: 10px 0;
}

.number-pb .number-pb-shown {
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;
  position: absolute;
  background-color: #00af89;
  background-image: linear-gradient(to right, #019d7b, #00af89);
  top: 0;
  left: 0;
  height: 10px;
}

.number-pb .number-pb-num {
  position: absolute;
  background-color: #fff;
  left:-10px;
  top:-5px;
  margin-left:-2px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  overflow:hidden; 
  border:5px solid #00af89;
}

.number-pb-shown.dream {
  background-image: linear-gradient(to right, #0e153a, #1d2b64, #f8cdda);
}

.number-pb-shown.sun {
  background-image: linear-gradient(to right, #0f1b58, #e0a681, #e5e9bf);
}

