@charset "utf-8";
/* CSS Document */

body{margin:0; font-family:"微软雅黑";}
a{text-decoration:none;}
ul,li{list-style-type:none; margin:0; padding:0;}
.module,.function .funleft .titu,.dian{width:100%; height:auto;}
.module ul li{ float:left;width:25%; margin-top:5%; text-align:center;}
.module .yuan1,.module .yuan2,.module .yuan3,.module .yuan4,.module .yuan5,.module .yuan6,.module .yuan7{width:50px; height:50px; border-radius:50px; overflow:hidden; margin:0 auto;
-moz-box-shadow: 2px 2px 3px #CCC;-webkit-box-shadow: 2px 2px 3px #CCC;box-shadow: 2px 2px 3px #CCC;}
.module .yuan1{background:#5ecb5f;}
.module .yuan2{background:#86d0eb;}
.module .yuan3{background:#f46789;}
.module .yuan4{background:#ac8bd2;}
.module .yuan5{background:#e6d168;}
.module .yuan6{background:#46d293;}
.module .yuan7{background:#afc4c5;}
.module .yuan1 .yuantu1,.gongneng .yanse2 .yuqu{width:35px; height:35px; background: url(../images/tubiao.png) -5px -36px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuan2 .yuantu2,.gongneng .yanse4 .yuqu{width:35px; height:35px; background: url(../images/tubiao.png) -56px -33px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuan3 .yuantu3,.gongneng .yanse1 .yuqu{width:35px; height:35px; background: url(../images/tubiao.png) -107px -33px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuan4 .yuantu4,.gongneng .yanse5 .yuqu{width:38px; height:35px; background: url(../images/tubiao.png) -155px -33px; background-size:250px; margin:0 auto; margin-top:8px;}
.module .yuan5 .yuantu5,.gongneng .yanse3 .yuqu{width:35px; height:35px; background: url(../images/tubiao.png) -208px -35px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuan6 .yuantu6,.gongneng .yanse6 .yuqu{width:35px; height:35px; background: url(../images/tubiao.png) -8px -69px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuan7 .yuantu7{width:35px; height:35px; background: url(../images/tubiao.png) -60px -67px; background-size:255px; margin:0 auto; margin-top:8px;}
.module .yuanzi{font-size:14px; color:#816f61; margin-top:5px;}
.clearflx{clear:both;}
.function{margin-top:8%; border:1px solid #f3f2f2; border-top:3px solid #f3f2f2;}
.function .funleft,.function .funright,.dibu .dikuai{float:left; width:50%;}
.function .funleft .tibao,.function .funright .tibao{ height:30px; }
.function .funleft .tibao .tubiao{ float:left; width:25px; height:19px; background:url(../images/tubiao.png) -189px -3px; background-size:290px;margin-top:3px; margin-left:15%;}
.function .funright .tibao .tubiao{ float:left; width:25px; height:19px; background:url(../images/tubiao.png) -225px -2px; background-size:290px;margin-top:3px; margin-left:15%;}
.function .funleft .tibao .tuzi,.function .funright .tibao .tuzi{float:left; margin-left:5px; color:#816f61; line-height:30px; }
.jiaxian{border-right:1px solid #f3f2f2;}
.kong{height:40px;}
.dibu{position:fixed; bottom:0; width:100%; height:35px; background:#fff; border-bottom:1px solid #5ecb5f;}
.dibu .dikuai{margin-top:8px;}
.dibu .dikuai .ditu{float:left;width:20px; height:20px; background:url(../images/tubiao.png) -143px -4px; background-size:290px; margin-left:15%;} 
.dibu .dikuai .ditu2{float:left;width:20px; height:20px; background:url(../images/tubiao.png) -104px -5px; background-size:290px; margin-left:15%;}
.dibu .dikuai .dizi{float:left; color:#48caa1; margin-left:5px;}

.jiashao{margin:10px 10px; color:#000; font-size:14px; line-height:22px; color:#666;}
.top .topdi{float:right; width:35px; height:35px; background:url(../images/tubiao.png) -280px 6px; background-size:310px; margin-top:2px;}
.top .topmu{float:left; width:70%; text-align:center; line-height:45px; color:#fff; font-size:16px; }
.gongneng{width:100%;}
.gongneng ul li{float:left; width:30%; height:75px; margin-top:8px; margin-left:2.5%; background:#666; line-height:30px; text-align:center; color:#fff; font-size:14px; border-radius:5px;}
.gongneng ul li a{color:#fff;}
.gongneng .yanse1{background:#56bfaf;}
.gongneng .yanse2{background:#00ac92;}
.gongneng .yanse3{background:#017468;}
.gongneng .yanse4{background:#007fc0;}
.gongneng .yanse5{background:#27527d;}
.gongneng .yanse6{background:#006b7b;}
/*------2015-7-23------*/
.dizhi,.dianhua,.taitou{border:1px solid #d7d6d6; padding:5px 5px; margin-bottom:-1px;}
.taitou .xingji{float:left;}
.taitou .dingdan{float:right;}
.anhui{width:85%; margin:0 auto; margin-top:10%;}
.anhui ul li{float:left; width:48%; height:60px; margin-left:2%; background:#f4f4f4; margin-top:2%;}
.anhui .antu1{float:left; width:42px; height:40px; background:url(../images/tuxi.png) 0 0 ; background-size:90px; margin-top:10px; margin-left:10px;}
.anhui .antu2{float:left; width:42px; height:40px; background:url(../images/tuxi.png) -45px 3px ; background-size:85px; margin-top:10px; margin-left:10px;}
.anhui .antu3{float:left; width:42px; height:40px; background:url(../images/tuxi.png) 0 -37px ; background-size:85px; margin-top:10px; margin-left:10px;}
.anhui .antu4{float:left; width:42px; height:40px; background:url(../images/tuxi.png) -43px -37px ; background-size:85px; margin-top:10px; margin-left:10px;}
.anhui .anzi{float:left; margin-top:20px; margin-left:8px;}
/*----- 我的积分 -----*/
.xinyong{width:100%; height:auto; position:relative;}
.xinyong .xinquan{width:80px; height:80px; margin:0 auto; margin-top:15px; background:#00b18a; border-radius:80px; text-align:center; color:#fff;}
.xinyong .xinquan .xinji{padding-top:18px;font-size:18px;}
.xinyong .xinquan .xinshu{font-size:14px;}
.xinyong .xinzhu{position:absolute; top:-12px; right:10px; font-size:12px; }
.xinyong .xinzhu a{color:#969595;}
.xinyong .xinan{width:60%; margin:0 auto;margin-top:15px;}
.xinyong .xinan .anxin{padding:3px 10px; border:1px solid #CCC; border-radius:5px; margin-left:15px; float:left; font-size:14px;}
.xinyong .xinan .anxin a{color:#999;}
.xinyong .xinxian{border-bottom:1px solid #CCC; margin-top:17px; height:10px; }
.xinyong .xinxian .mingxi{padding:0 5px; width:60px; margin:0 auto; margin-top:-5px; background:#fff; font-size:12px; color:#999; text-align:center;}
.xinyong .yongtu{margin:10px 10px 0 10px; padding-bottom:5px; border-bottom:1px dashed #CCC;}
.xinyong .yongtu .yongkuan{float:left; width:80%; color:#666; font-size:14px;}
.xinyong .yongtu .yongkuan p{color:#CCC; font-size:12px; margin:0}
.xinyong .yongtu .yongfen{float:right; margin-top:10px; color:#00b18a; font-size:14px;}
/* 个人中心 */
.geren,.geren .kuai{margin-top:10px; width:100%;}
.geren .touxiang{padding:10px 15px; background:#fff;}
.geren .touxiang .xiang,.geren .touxiang .touzi,.geren .touxiang .touzi .mingfu .mingtu1,.geren .touxiang .touzi .mingfu .mingtu2,.geren .kuai .kas .katu1,.geren .kuai .kas .kabiao,.geren .kuai .kas .katu2,.geren .kuai .kas .katu3,.geren .kuai .kas .katu4,.geren .kuai .kas .katu5,.geren .touxiang .touzi .mingfu .mingtu3,.geren .touxiang .touzi .mingfu .mingtu11,.geren .touxiang .touzi .mingfu .mingtu22,.geren .touxiang .touzi .mingfu .mingtu33,.geren .kuai .kas .katu6,.geren .kuai .kas .katu7,.geren .touxiang .touzi .mingfu .mingtu111,.geren .touxiang .touzi .mingfu .mingtu222,.geren .touxiang .touzi .mingfu .mingtu333{float:left;}
.geren .touxiang .xiang{width:60px; height:60px; border-radius:50px; overflow:hidden; border:2px solid #d8d8d8;}
.geren .touxiang .touzi{margin-left:10px; margin-top:5px;}
.geren .touxiang .touzi .mingzi{font-size:16px; color:#000; }
.geren .touxiang .touzi .mingfu{margin-top:8px;}
.geren .touxiang .touzi .mingfu .mingtu1{width:20px; height:20px; background:url(../images/icoq.png) -27px -50px; background-size:100px; margin-top:1px;}
.geren .touxiang .touzi .mingfu .mingtu2{width:20px; height:20px; background:url(../images/icoq.png) -52px -49px; background-size:100px; margin-left:10px;}
.geren .touxiang .touzi .mingfu .mingtu3{width:25px; height:20px; background:url(../images/icoq.png) -78px -52px; background-size:106px; margin-left:8px;}
.geren .touxiang .touzi .mingfu .mingtu11{width:25px; height:25px; background:url(../images/icoq2.png) -16px -32px; background-size:75px; margin-top:1px;}
.geren .touxiang .touzi .mingfu .mingtu22{width:25px; height:25px; background:url(../images/icoq2.png) -43px -31px; background-size:75px; margin-left:5px;}
.geren .touxiang .touzi .mingfu .mingtu33{width:25px; height:25px; background:url(../images/icoq2.png) -93px -107px; background-size:75px; margin-left:5px;}
.geren .touxiang .touzi .mingfu .mingtu111{width:25px; height:25px; background:url(../images/icoq3.png) -16px -32px; background-size:75px; margin-top:1px;}
.geren .touxiang .touzi .mingfu .mingtu222{width:25px; height:25px; background:url(../images/icoq3.png) -43px -31px; background-size:75px; margin-left:5px;}
.geren .touxiang .touzi .mingfu .mingtu333{width:25px; height:25px; background:url(../images/icoq3.png) -93px -107px; background-size:75px; margin-left:5px;}
.geren .kuai{border-bottom:1px solid #dddddb;}
.geren .kuai .kas{background:#fff; border-top:1px solid #dddddb; padding:10px 10px;}
.geren .kuai .kas .katu1{width:28px; height:30px; background:url(../images/icoq.png) 7px -304px; background-size:120px;}
.geren .kuai .kas .katu2{width:28px; height:30px; background:url(../images/icoq2.png) -24px -331px; background-size:130px;}
.geren .kuai .kas .katu3{width:28px; height:30px; background:url(../images/icoq.png) -54px -316px; background-size:124px;}
.geren .kuai .kas .katu4{width:28px; height:30px; background:url(../images/icoq.png) -78px -292px; background-size:115px;}
.geren .kuai .kas .katu5{width:28px; height:30px; background:url(../images/icoq.png) 3px -404px; background-size:124px;}
.geren .kuai .kas .katu6{width:28px; height:30px; background:url(../images/icoq2.png) -76px -437px; background-size:133px;}
.geren .kuai .kas .katu7{width:28px; height:30px; background:url(../images/icoq2.png) -106px -437px; background-size:133px;}
.geren .kuai .kas .katu8{width:28px; height:30px; background:url(../images/icoq.png) -24px -379px; background-size:117px; float:left;}
.geren .kuai .kas .katu9{width:28px; height:21px; background:url(../images/icoq.png) -54px -357px; background-size:109px; float:left; margin-top:4px;}
.geren .kuai .kas .kabiao{ color:#656565; font-size:14px; line-height:30px; margin-left:5px;}
.geren .kuai .kas .kago,.geren .kuai .kas .kajian{float:right;}
.geren .kuai .kas .kago{color:#a6a6a6; font-size:12px; line-height:30px; margin-right:10px;}
.geren .kuai .kas .kajian{width:15px; height:27px; background:url(../images/icoq.png) -6px -288px; background-size:95px;}
.geren .kuai .kas .tp{ margin-right:10px; width:28px; height:28px; border-radius:15px; background:#dedede url(../images/icon10.png) 5px -72px; background-size:20px; overflow:hidden; float:right;}
/* 个人中心1 */
.geren .list1{ padding:0 2%; margin-top:10px; width:100%; height:45px; line-height:45px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#fff;}

.menu{ width:20%; min-width:100px; height:auto; border-radius:0; border:1px solid #ff4f51;box-shadow: 0 2px 3px #ff4f51;}
.menu .menu_li{height:30px; line-height:30px !important; text-align:center;color:#000 !important; padding-bottom:1px; border-bottom:1px dashed #dedede;}
.geren .list2{ margin-top:10px;width:100%; height:200px;background:#fff;}
.geren .list1 .li_li{ width:20%; height:45px; line-height:45px; text-align:center; float:left; color:#000; font-size:12px;}
.geren .list1 .li_li a{ width:100%; color:#000; font-size:12px; text-decoration:none;}
.geren .list1 .li_li a:hover{ color:#000; font-size:12px; text-decoration:none;}
.geren .list1 .active{line-height:45px; text-align:center; border-bottom:3px solid #ff4f51;color:#000;}
.geren .list1 .active a{width:100%;  color:#ff4f51; font-size:12px; text-decoration:none;}
.geren .list1 .active a:hover{ color:#ff4f51; font-size:12px;text-decoration:none;}
.geren .list2{ margin-top:10px;width:100%; height:200px;background:#fff;}
.geren .list2 .title{ padding:0 3%; width:100%; height:40px; line-height:40px; font-size:12px;}
.geren .list2 .title p{ width:80%; height:40px; line-height:40px; color:#000; float:left;}
.geren .list2 .title span{ width:20%; height:40px; line-height:40px; color:#ff4f51; float:right; text-align:right;}
.geren .list2 .cont1{ padding:10px 3%; width:100%; height:75px; font-size:12px; background:#f9f9f9;}
.geren .list2 .cont1 .tup{ margin-right:5px; width:80px; height:55px; overflow:hidden; border:1px solid #dedede; float:left;}
.geren .list2 .cont1 .wz{ margin-top:10px; margin-left:5px; width:70%; height:auto; line-height:16px;float:left;}
.geren .list2 .cont1 .wz span{ width:70%; height:20px; color:#666;float:left; overflow:hidden;}
.geren .list2 .cont1 .wz string{ width:30%; float:right;  text-align:right; color:#000;}
.geren .list2 .cont1 .wz p{ width:100%; height:20px; line-height:20px;margin-bottom:0; color:#999; overflow:hidden;}
.geren .price{padding:0 3%; width:100%; height:40px; line-height:40px; background:#fff; color:#666; font-size:12px; text-align:right;}
.geren .ann{padding:0 3%; width:100%; height:40px; line-height:40px; background:#fff; border-top:1px solid #f7f7f7; color:#000; font-size:12px; text-align:right;}
.geren .ann .sc_ann{ margin:8px 0 8px 10px; padding:0 3%; height:24px; line-height:24px; float:right; border:1px solid #dedede; border-radius:2px; color:#000; font-size:12px; text-align:center;}
.geren .ann .pj_ann{ margin:8px 0 8px 10px; padding:0 3%; height:24px; line-height:24px; float:right; border:1px solid #ff4f51; background:#ff4f51; border-radius:2px; color:#fff; font-size:12px; text-align:center;}


.order{ width:100%; height:auto;}
.order li{ padding-top:3px;width:100%; border-bottom:10px solid #e1e1e1; background:#fff; float:left;}
.order li p{ padding:0 3%;width:100%; height:25px; line-height:25px; font-size:14px; color:#000; float:left;}
.order li span{ float:right; color:#ff4f51;}
.order li em{ float:right; color:#999;}
.order li .ann{ margin:0; padding:0 3%;width:100%; height:40px; line-height:40px; border-top:1px solid #f7f7f7; color:#000; font-size:12px; text-align:right; float:left;}
.order li .ann .sc_ann{ margin:8px 0 8px 10px; padding:0 3%; height:24px; line-height:24px; float:right; border:1px solid #dedede; border-radius:2px; color:#000; font-size:12px; text-align:center;}
.order li .ann .pj_ann{ margin:8px 0 8px 10px; padding:0 3%; height:24px; line-height:24px; float:right; border:1px solid #ff4f51; background:#ff4f51; border-radius:2px; color:#fff; font-size:12px; text-align:center;}

.geren .list3{ padding:0 2%; margin-top:10px;height:45px; line-height:45px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#fff;}
.geren .list3 li{ width:25%; height:45px; line-height:45px; text-align:center; float:left; color:#000; font-size:12px;}
.geren .list3 li a{ width:100%; color:#000; font-size:14px; text-decoration:none;}
.geren .list3 li a:hover{ color:#000; font-size:14px; text-decoration:none;}
.geren .list3 .active{line-height:45px; text-align:center; border-bottom:3px solid #ff4f51;color:#000;}
.geren .list3 .active a{width:100%;  color:#ff4f51; font-size:14px; text-decoration:none;}
.geren .list3 .active a:hover{ color:#ff4f51; font-size:14px;text-decoration:none;}


/* --------------券------------- */
.jianju{padding:0 10px; margin-bottom:55px;}
.container-fluid .quan,.container-fluid .quan .ceng,.container-fluid .quan .cengdi{width:100%;}
.container-fluid .quan{margin-top:10px;}
.container-fluid .quan .ceng{position:relative; background:#fff;}
.container-fluid .quan .ceng .ceng_tu{position:absolute; top:5%; left:3%; width:94%;}
.container-fluid .quan .ceng .ceng_tu .tuer,.container-fluid .quan .cengdi .ceng_zuo,.container-fluid .quan .ceng .ceng_tu .tuzi,.top .content .cen .tuer,.top .content .cen .tuzi{float:left;}
.container-fluid .quan .ceng .ceng_tu .tuer{width:20%;}
.container-fluid .quan .ceng .ceng_tu .tuer img,.top .content .cen .tuer img{ margin-top:5px;border-radius:50px;}
.container-fluid .quan .ceng .ceng_tu .tuzi,.top .content .cen .tuzi{ width:76%; height:auto; overflow:hidden; font-size:24px; color:#fff; margin-left:3%;}
.container-fluid .quan .ceng .ceng_tu .tuzi span{ width:100%; height:20px; line-height:20px; font-size:12px; color:#fff;}
.container-fluid .quan .ceng .ceng_tu .tuzi em{ margin-left:5px; float:right; font-size:12px; color:#face65;}
.container-fluid .quan .ceng .ceng_tu .tuzi .price1{ width:100%; height:22px; line-height:22px; color:#fff; font-size:20px; text-align:right;}
.container-fluid .quan .ceng .ceng_tu .tuzi p{width:100%; height:25px; line-height:25px; font-size:16px; color:#fff; overflow:hidden;}
.container-fluid .quan .cengdi{background:#fff; color:#686868; padding:5px 2%; width:100%; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.container-fluid .quan .cengdi .ceng_zuo{width:40%; height:18px; overflow:hidden; }
.container-fluid .quan .cengdi .ceng_time{float:right; font-size:12px;}

.p_details1{ margin-top:1px;padding:10px 3%; width:100%; height:auto; background:#fff; float:left;} 
.p_details1 p{ width:100%;line-height:25px; color:#666; font-size:14px;}
.p_details1 span{width:100%; height:28px; line-height:28px; color:#ff4f51; font-size:14px;}
.p_details1 .tb{ width:25px; height:28px; background:url(../images/ico4.png) no-repeat; background-size:22px; float:right; margin-top:-6px;}
.p_details2{ padding:0 10%; margin-top:10px; width:100%; height:auto; border-top:2px solid #ff4f51; background:#fff; text-align:center;}
.p_details2 .time{padding:10px 0; color:#dadada; text-align:center; font-size:16px;}
.p_details2 .time span{ color:#ff4f51;}
.p_details2 .time string{ margin-right:10px; color:#000; font-weight:normal;}
.jiantou{width: 15px; height: 27px; background: url(../images/icoq.png) -6px -288px; background-size: 95px; float:right; margin-top:15px;}
.xinjia a{color:#656565 !important; font-size:14px !important;}
.dingaw{padding:5px 3%; background:#f7f7f7}
.dingaw .yikuai,.dingaw .neirong{width:100%; font-size:14px;}
.biaotid{border-bottom:1px solid #CCC;}
.dingaw .neirong{margin-top:5px;}
.dingaw .neirong .shangrong{float:left; width:30%; height:20px; overflow:hidden;}
.dingaw .neirong .shangmig{float:left; width:30%; height:20px; overflow:hidden;}
.dingaw .neirong .shuzhi{float:left; width:20%; height:20px; overflow:hidden;}
.dingaw .neirong .shujia{float:left; width:20%; height:20px; overflow:hidden;}
.anjia{float:left; font-size:12px; padding:5px 10px; }

/* --------------个人修改------------- */
.modal2{ margin:30% 3% 0 3%; width:94%; height:150px;background:#fff; border-radius:3px;}
.modal2 .title{ padding:5px 5%; width:100%; height:45px; line-height:45px; font-size:14px; color:#000;}
.modal2 .xuan{width:100%; height:auto; line-height:40px; color:#666; }
.modal2 .xuan .wz{ margin-top:5px; padding-bottom:5px; padding:0 5%; width:100%; height:35px; line-height:35px; border-top:1px solid #dedede; font-size:14px;}
.modal2 .xuan .tb1{margin-top:7px; margin-right:5px; width:20px; height:20px; background:url(../images/icon10.png) -1px -25px; background-size:20px; float:left;}
.modal2 .xuan .tb2{margin-top:6px; margin-right:5px; width:20px; height:20px; background:url(../images/icon10.png) -1px -48px; background-size:20px; float:left;}
.modal2 .xian{ width:100%; height:1px; background:#dedede;}
.input_box{margin:20px 0 10px 3%; width:63%; height:35px; line-height:35px;color:#999; font-size:14px; float:left;border: 1px solid #a1a1a1; text-indent:10px;outline-color:invert;}	
.modal2 .ann{margin-top:20px; width:20%; height:35px; line-height:35px; text-align:center; background:#a1a1a1;border: 1px solid #a1a1a1; color:#fff; float:left;}

.sh_foot{ position:fixed; z-index:20; bottom:0;width:100%; height:40px; background:#f9f9f9; border-top:1px solid #e1e1e1;}
.sh_foot .price1{ margin-top:-1px; width:49%; height:40px; background:#ff4f51; border:1px solid #ff4f51; text-align:center; line-height:40px; color:#fff; float:left;}
.sh_foot .price2{ margin-top:-1px; width:49%; height:40px; border:1px solid #dedede; text-align:center; line-height:40px; color:#000; float:right;}
.sh_foot .wz{ width:65%; height:45px; line-height:45px; text-align:right; float:left;}
.sh_foot .wz p{ color:#000;}
.sh_foot .wz span{ color:#ff4f51;}

/*--------- 确认订单--------- */
.add{ margin-bottom:10px; padding:10px 3%; width:100%;background:#fff; float:left;}
.add .tb{width:30px; height:40px; background:url(../images/icon10.png) -1px -125px no-repeat; background-size:25px; float:left;}
.add .wz{width:80%; height:auto; float:left;}
.add .wz span{ width:50%; height:22px; line-height:22px; font-size:16px; color:#000; float:left;}
.add .wz p{ margin:0; width:100%; line-height:20px; color:#666; font-size:14px;}
.add .wz em{ margin-top:4px;color:#999; font-size:12px; float:left;font-style:normal;}
.add .kajian{ margin-top:10px;width: 15px;height: 27px;background: url(../images/icoq.png) 1px -288px;background-size: 95px; float:right;}


/*--------- 20150729--------- */
.dingaw .neirong span{float:right;}
.dingaw .anjia2{background:#fff; width:100%; font-size:12px;}
.bianks{border:1px solid #CCC; text-align:center;}
.annqq {
  margin: 60px 5% 20px 5%;
  width: 90%;
  height: 40px;
  line-height: 40px;
  background: #ff4f51;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.shanpin,.wzq{width:100%; height:auto;}
.neirongqq{text-align:right; margin-top:5px; font-size:12px; color:#333; margin-right:10px;}
.anjiahh{ background:#fff; text-align:right; padding:5px 10px; font-size:12px;}
.tuxing{float:left; width:14%; margin-right:10px;}
.wuliu{border-bottom:1px solid #CCC; width:100% !important; height:25px !important; font-size:14px; color:#000; margin-bottom:10px;}
.xinaa{ color:#999; font-size:12px; width:100%;}
.quanda{float:left; width:15px;}
.quanda .dianda{width:12px; height:12px; background:#999; border-radius:8px;}
.quanda .dianshu{width:1px; height:20px; background:#999; margin-left:5px;}
.xianzi{ float:left;margin-top:-3px; margin-left:5px;}
.chong{width:100px; margin:0 auto ;}
.bjsu{background:#f4f4f4; margin:10px 10px; width:auto; float:none;}
.andji{width:80%;margin:0 auto; margin-top:20px; }
.chongdian{width:100%; height:40px; line-height:25px; background:#ff4f51; color:#fff; border:0; font-size:14px;}

/*--------- 购物车--------- */
.shopping{ width:100%; height:auto; border-bottom:10px solid #e1e1e1; background:#fff; }
.shopping .title{padding:5px 3%; width:100%; height:35px;}
.shopping .xuan{ margin-top:3px; margin-right:5px; width:16px; height:16px; background:#fff; border-radius:10px; border:1px solid #a1a1a1; float:left;}
.shopping .xuan1{ margin-top:3px; margin-right:5px; width:16px; height:16px; background:#ff4f51 url(../images/icon10.png) 1px 0 no-repeat; background-size:12px; border-radius:10px; border:1px solid #ff4f51; float:left;}
.shopping .title p{ width:75%; height:25px; line-height:25px; float:left; color:#666;}
.shopping .title a{ margin:3px 0; width:15%; height:19px; line-height:19px; border-left:1px solid #e9e9e9; text-align:center; color:#666; text-decoration:none; float:right; font-size:12px;}
.shopping .nr{ padding:10px 3%; width:100%; height:100px; border-bottom:1px solid #dedede; background:#f9f9f9;}
.shopping .nr .tup{ margin-right:5px; width:80px; height:80px; float:left;border:1px solid #f7f7f7; background:#fff; text-align:center;overflow:hidden;}
.shopping .nr .tup img{height:100%; text-align:center;}
.shopping .nr .wz{ width:64%; height:70px; float:left; line-height:18px; color:#000;}
.shopping .nr .wz p{ width:100%; height:30px; line-height:15px; overflow:hidden; color:#333; font-size:12px;}
.shopping .nr .wz span{ margin-top:5px; width:100%; height:30px;line-height:15px;  color:#999; font-size:12px; float:left;}
.shopping .nr .wz string{width:100%; height:16px; color:#ff4f51; font-size:14px; float:left; text-align:right;}
.shopping .nr .wz tt{ width:20px; height:16px; color:#999; font-size:12px; float:right; font-family:"微软雅黑"}
.sh_foot .wz{ width:65%; height:45px; line-height:45px; text-align:center; float:left;}
.sh_foot .wz p{ color:#000;}
.sh_foot .wz span{ color:#ff4f51;}
p{margin:0;}

/*---------没有订单-------- */
.noorder{ padding:70px 3% 0 3%; width:100%; height:auto;}
.noorder .tb{ margin:0 auto; width:100px; height:100px; border-radius:50px; background:#dedede url(../images/icon10.png) 29px -266px no-repeat; background-size:40px;}
.noorder p{margin-top:20px; width:100%; height:20px; line-height:20px; color:#000; font-size:14px; text-align:center;}
.noorder span{width:100%; height:20px; line-height:20px;  font-size:12px; text-align:center; color:#999; float:left;}
.noorder a{ margin:10px 30%;width:40%; height:30px;text-align:center; line-height:30px; border:1px solid #a1a1a1; color:#000; text-decoration:none; float:left;}
.ann {
  margin: 30px 5% 20px 5%;
  width: 90%;
  height: 40px;
  line-height: 40px;
  background: #ff4f51;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/*---------20150731-------- */
/*---------------header-------------------*/
.header{position:relative; width:100%; height:45px; background:#ff4f51; }
.header .topnav{ position:absolute;z-index:21; margin-left:10px; margin-top:13px; float:left;font-size: 16px;line-height: 21px;color:#fff;font-weight:100;}
.header .logo{ position:absolute; z-index:20;top:0;width:100%; height:45px; line-height:45px; float:left; text-align:center; overflow:hidden; color:#fff; font-size:16px;}
.header span{ position:absolute; z-index:100; right:0;  margin-right:10px;width:48px; height:45px; line-height:45px; font-size:12px;color:#fff;}
.header .per{ position:absolute; z-index:100; right:0; margin-right:5px; margin-top:0px;width:28px; height:27px;background: url(../images/tubiao.png) -50px -1px;background-size: 238px;}


/*-------会员菜单--------- */
.gesou{background:#fff; width:100%; position:absolute; bottom:0; padding:10px 10px;}
.gesou .getiao{width:100%; height:35px; border-bottom:1px solid #f4f4f4;}
.gesou .getiao .getu1{float:left; width:18px; height:18px; background:url(../images/geren.png) 1px 0; background-size:16px; margin-top:8px;}
.gesou .getiao .getu2{float:left; width:18px; height:20px; background:url(../images/geren.png) 0 -21px; background-size:19px; margin-top:6px;}
.gesou .getiao .getu3{float:left; width:18px; height:20px; background:url(../images/geren.png) 0 -40px; background-size:18px; margin-top:6px;}
.gesou .getiao .gezi{float:left; margin-left:5px; color:#666; line-height:30px;}
.gesou .getiao .gejian{float:right; width: 15px; height: 27px; background: url(../images/icoq.png) -6px -288px; background-size: 95px;}

