@charset "utf-8";
/* CSS Document */
body{margin:0; font-family:"微软雅黑"; font-size:14px;}
ul,li{margin:0; padding:0; list-style-type:none;}
a{text-decoration:none;}
.top{width:100%; height:45px; background:#ff4f51;}
.top .topleft,.top .topright,.top .topmid,.shangpin,.kuan .kuantu,.kuan .kuanzi{float:left;}
.top .topleft,.top .topright{width:15%; height:45px;}
.top .topmid{width:70%; height:45px; line-height:45px; text-align:center; font-size:16px; color:#fff;}
.topleft .topfan{width:25px; height:25px; margin:0 auto; background:url(../images/fan.png) 0 0 no-repeat; background-size:16px; margin-top:10px;}
.topright .topren{width:30px; height:30px; margin:0 auto; background:url(../images/ren.png) 0 0 no-repeat; background-size:21px; margin-top:10px;}
.clearflx{clear:both;}
.content{margin:10px 10px;}
.content ul{width:100%; height:32px; margin:0 auto; border-radius:30px; overflow:hidden; border-right:1px solid #ff4f51;}
.content ul li{float:left; width:33%; height:30px; line-height:30px; border:1px solid #ff4f51; text-align:center; color:#ff4f51; margin-left:-1px; border-right:0;}
.xuanzhong{background:#ff4f51; color:#fff !important;}
.shangpin{width:45%; border:1px solid #d6d6d6; background:#fff; margin-left:3%; margin-top:10px;}
.shangpin .shantu{margin:5px 5px;}
.shangpin .shanwen{width:100%; height:20px; overflow:hidden;color:#333;}
.shangpin .shanjia{color:#ff4f51; font-weight:bold;}
.geren{padding:20px 20px; background:#ff4f51;}
.geren .touxiang{ width:70px; height:70px; margin:5px auto; border-radius:70px; overflow:hidden;}
.geren .touming{width:100%; text-align:center; color:#fff;}
.geren .toubang{width:100px; height:25px; margin:0 auto; margin-top:5px; line-height:25px; font-size:12px; background:#fd2c2e; border-radius:25px; overflow:hidden; text-align:center;}
.geren .toubang a{color:#fff;}
.kuan{margin-top:10px;}
.kuan ul li{padding:10px 10px; background:#fff; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; margin-top:-1px;}
.kuan .kuantu{width:8%;}
.kuan .kuanzi{color:#333; margin-left:10px;}
.kuan .kuanjian,.xiaojian{float:right; width:3%; margin-top:5px;}
.kuan .kuanjian2,.xiaojian2{float:right; width:80%; margin-top:5px;}
.xiaokuan{ line-height:35px; padding:10px 10px;}
.xiaozi{float:left; color:#333;}
.xiaojian{margin-top:8px; color:#999999;}
.changui,.feiyong{width:50%; text-align:right; margin-top:0;}
.feiyong{color:#ff4f51;}
.anniu{width:100%; height:40px; line-height:40px; background:#ff4f51; color:#fff; text-align:center; margin-top:50px;}
.changpin{width:100%; height:auto; position:relative;}
.changpin .biaoti{position:absolute; bottom:0; width:100%; height:30px; line-height:30px; overflow:hidden; background:rgba(0,0,0,0.5); color:#fff;}
.baikuan{ background:#fff; padding:10px 10px; margin-bottom:10px;}
.baifen{width:100%; height:auto;}
.baifen .huiyuan{float:left; padding:0 10px; background:#ff4f51; color:#fff;}
.baifen .xianjia{float:left; color:#ff4f51; font-size:18px;  margin-left:10px;}
.baifen .yuanjia{float:left; color:#999; margin-left:20px; font-size:12px; text-decoration:line-through; margin-top:5px;}
.baixiao{float:left; width:33%; text-align:left; color:#999; font-size:12px; margin-top:5px;}
.weiquan{border-top:1px solid #d6d6d6; padding:5px 0; margin-top:5px;}
.weiquan ul li{float:left; margin-right:7px;}
.weiquan .weitu,.weiquan .weizi{float:left;}
.weiquan .weitu{margin-top:1px;}
.weiquan .weizi{color:#333; margin-left:5px; font-size:12px;}
.biankuan{border-bottom:1px solid #d6d6d6; margin-top:0; padding-bottom:10px;}
.yanse ul li{float:left; padding:5px 20px; color:#999; border:1px solid #d6d6d6; background:#fff; margin-right:10px; margin-top:10px;}
.juli{margin-top:15px;}

.ann1{position: fixed;z-index: 20;bottom: 0;width: 100%;height: 40px;text-align: center;line-height: 40px;background: #ff4f51;color: #fff;font-size: 14px;}

/*---------------7.13微信绑定-------------------*/
.binding{ width:100%;height:auto; background:#fff; float:left;}
.binding .user_left{ margin:10px 3% 0 5%;  width:22%;height:auto;  overflow:hidden; float:left;}
.binding .user_left .tup{ padding:2%; width:95%; height:auto; overflow:hidden; border-radius:5px; border:1px solid #dddddd;}
.binding .user_left .tup img{ width:100%; height:auto; border-radius:5px; overflow:hidden;}
.binding .center{ margin:10px 10%; width:19%; height:auto; float:left;}
.binding .center .tup{ width:100%; height:auto;}
.binding .user_right{ margin:10px 5% 0 3%;  width:22%; float:right;}
.binding .user_right .tup{ padding:2%; width:95%; height:auto; overflow:hidden; border-radius:5px; border:1px solid #dddddd; float:right;}
.binding .user_right .tup img{ width:100%; height:auto; border-radius:5px; overflow:hidden;}
.information{ margin-bottom:20px; width:100%; height:auto; float:left;}
.information .title{ margin:10px 3%; width:93%; height:auto; line-height:25px; font-size:14px; color:#666; float:left;}
.information .title span{ color:#ff4f51; font-weight:700;}
.information .title dl{ color:#000; font-size:18px; font-weight:700;}
.information .content{ margin:0 3%; width:93.5%; height:auto; line-height:25px; font-size:16px; color:#666; float:left; border:1px solid #dddddd; background:#fff; border-radius:5px;}
.information .content .user{ margin:10px 5%;width:90%;height:auto; line-height:25px; float:left;}
.information .content .user p{ font-size:16px; width:100%; height:auto; border:0; color:#666; float:left;}
.information .content .user span{ margin-right:10px; float:left;}
.information .content .name{width:100%; height:35px; line-height:35px; overflow:hidden; float:left; border-bottom:1px solid #dddddd;}
.information .content .name p{ font-size:16px; width:100%; height:35px; border:0; overflow:hidden; color:#ff4f51; text-indent:10px; float:left;}
.information .content .name span{ width:27%; height:35px; line-height:35px; font-size:12px; text-indent:10px; color:#666; float:left;}
.information .content .name .kuang{ font-size:12px; width:72%; height:35px; border:0; overflow:hidden; color:#999;  border-radius:5px;}
.information .ann{ margin:30px 3%; width:93%; height:35px; line-height:35px; font-size:18px; color:#fff; float:left; background:#ff4f51;text-align:center; cursor:pointer; font-size:14px;}

/*--------跳转--------- */
.cont{margin-bottom:50px; width:100%; height:auto; float:left;}
.jump{ padding-top:50px;width:100%; height:auto;}
.jump .tup { margin:0 auto; width:60px; height:60px; border-radius:60px; }
.jump p{ padding:20px 10% 10px 10%; line-height:25px; color:#666; font-size:16px; text-align:center;}