<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<li ><a href="{:U('updatenickname')}">修改昵称</a></li>
		<li ><a href="{:U('updatepassword')}">修改密码</a></li>
		<li class="current"><a href="{:U('myshop')}">我的门店</a></li>
		</ul>
		<div class="tab-content">
	<!-- 修改密码表单 -->
    <form action="{:U('User/submitNickname')}" method="post" class="form-horizontal" autocomplete="off">
		<div class="form-item">
			<label class="item-label">门店编号：<span class="check-tips"></span></label>
			<div class="controls">
				{$shop.shopno}
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">门店名称：<span class="check-tips"></span></label>
			<div class="controls">
				{$shop.name}
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">手机号：<span class="check-tips"></span></label>
			<div class="controls">
				{$shop.mobile}
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">微信绑定：<span class="check-tips"><if condition="$shop.wechatname eq ''">未绑定，立即扫码绑定<else/>已绑定：{$shop.wechatname}</if></span></label>
			<div class="controls">
				<img src="{:U('qrcode')}" width="260" >
			</div>
		</div>
		<div class="form-item">
			<button type="submit" style="display:none;" class="btn submit-btn ajax-post" target-form="form-horizontal">确 认</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
			</div>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
