<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑区域</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">{$areainfo.cityname}</label>
        </div>
        <!--{:hook('province_city_area')}-->
        <div class="form-item">
            <label class="item-label">区域</label>
            <div class="controls">
                <input type="text" class="text input-large" name="areaname" value="{$areainfo.areaname|default=''}">
            </div>
        </div>

        <div class="form-item">
            <input type="hidden" name="id" value="{$areainfo.id|default=''}">
            <input type="hidden" name="code" value="YX">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //Think.setValue("shopid", {$info.shopid|default = 0});
        //导航高亮
        highlight_subnav('{:U('index')}');
    </script>
</block>