<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>滴啊滴+服务</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/swipe.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header">
  <div class="topnav"></div>
  <div class="logo">绿源电瓶车</div>
</div>
<div  id="slider"  class="swipe"  style="visibility: visible;">
  <div  class="swipe-wrap"  style="width: 4269px;">
    <figure  data-index="0"  style="width: 1423px; left: 0px; transition: 300ms; -webkit-transition: 300ms; -webkit-transform: translate(0px, 0px) translateZ(0px);">
      <div  class="wrap"> <a  href="#"> <img  src="images/tp1.jpg"  width="100%"></a> </div>
    </figure>
    <figure  style="left: -1423px; width: 1423px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate(1423px, 0px) translateZ(0px);"  data-index="1">
      <div  class="wrap"> <a  href="#"> <img  src="images/tp1.jpg"  width="100%"></a> </div>
    </figure>
    <figure  style="left: -2846px; width: 1423px; transition: 300ms; -webkit-transition: 300ms; -webkit-transform: translate(1423px, 0px) translateZ(0px);"  data-index="2">
      <div  class="wrap"> <a  href="#"> <img  src="images/tp1.jpg"  width="100%"></a> </div>
    </figure>
  </div>
  <nav>
    <ul  id="position">
      <li  class="on"></li>
      <li  class=" "></li>
      <li  class=" "></li>
    </ul>
  </nav>
</div>
<div class="cont">
    <div class="cp_title">绿源电动车 踏板车电车 64V14AV25c超值特价</div>
    <div class="price">
       ￥
       <span>1235.00</span>
       <em>会员价</em>
       <p>快递：10.00元</p>
    </div>
     <ul class="pattern">
       <li>
          <div class="wz">样式：</div>
          <div class="manner">
             <span class="up">样式1</span>
             <span>样式2</span>
             <span>样式3</span>
             <span>样式4</span>
          </div>
       </li>
       <li>
          <div class="wz">颜色:</div>
          <div class="manner">
             <span class="up">白色</span>
             <span>绿色</span>
             <span>红色</span>
          </div>
       </li>
    </ul>
    <div class="suggest">
       <div class="sug">
          <div class="tb"></div>
          <span>卖家承诺25小时内发货</span>
       </div>
       <div class="sug">
          <div class="tb"></div>
          <span>信用卡支付</span>
       </div>
       <div class="sug">
          <div class="tb"></div>
          <span>如实描述</span>
       </div>
    </div>
    <div class="xian1"></div>
    <div class="assess">
       <div class="title">宝贝评价（252）<a href="#myModal2" data-toggle="modal"> <a href="#myModal2" data-toggle="modal"><div class="ass">评论</div></a></div>
       <ul class="evaluate">
          <li>
            <div class="tup"><img src="images/tou.jpg" width="100%"></div>
            <span>想～人</span>
            <p>产品很好，很方便，快递也很快。很方便，快递也很快。很方便，快递也很快。</p>
          </li>
          <li>
            <div class="tup"><img src="images/tou.jpg" width="100%"></div>
            <span>想～人</span>
            <p>产品很好，很方便，快递也很快。很方便，快递也很快。很方便，快递也很快。</p>
          </li>
       </ul>
       <a class="gd" href="#"> 查看更多评价</a>
    </div>
    <div class="xian1"></div>
    <div class="details">
       <div class="title">
         <a href="#">图文详情</a>
          <div class="xian2"></div>
         <a class="a_up" href="#">产品参数</a>
       </div>
       <!---图文详情----->
 <!--  <div class="tup">
         <img  src="images/tp1.jpg"  width="100%">
         <p>图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情图片详情</p>
      </div>-->
      <!---产品参数----->
      <div class="wz">
         <p>上市时间: 2011年冬季</p>
         <p>品牌: 绿源</p>
         <p>是否商场同款: 是</p>
         <p>颜色分类: 豪迈红 宝石蓝 银白</p>
         <p>配置等级: 其他</p>
      </div>
    </div>
     
</div>
    
<div id="myModal2" class="modal hide fade chuangkou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header criticism">
       <div class="discuss">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <div class="title">我的评论</div>
          <textarea rows="5" class="kuang"></textarea>
          <div class="ann">评论</div>
       </div>
</div>
</div>
<div class="ann1">立即购买</div>


<script src="js/jquery-2.0.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script  type="text/javascript"  src="js/jquery.lazyload.min.js"></script> 
<script  src="js/swipe.js"></script> 
<script>
        $("img.lazy").lazyload({
            effect : "fadeIn"
        });

//        顶部幻灯片效果
        var bullets = document.getElementById('position').getElementsByTagName('li');
        var slider =
                Swipe(document.getElementById('slider'), {
                    auto: 3000,
                    continuous: true,
                    disableScroll: false,
                    callback: function(pos) {
                        var i = bullets.length;
                        while (i--) {
                            bullets[i].className = ' ';
                        }
                        bullets[pos].className = 'on';
                    }
                });

 </script> 
</body>
</html>
