<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta  charset="UTF-8">
<meta  name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/style.css" type="text/css" />
<title>滴啊滴租车</title>
</head>
<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
$(function(){
    if($("body").height()<$(window).height()){$("body").height($(window).height());}//用于下拉框全屏可点
	$(".select").each(function(){
		var s=$(this);
		var z=parseInt(s.css("z-index"));
		var dt=$(this).children("dt");
		var dd=$(this).children("dd");
		var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
		var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
		dt.click(function(){dd.is(":hidden")?_show():_hide();});
		dd.find("a").click(function(){dt.html($(this).html());_hide();});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
		$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
	})
})
</script>
<body>
<div class="header">
  <div class="topnav"></div>
  <div class="logo">我要买车</div>
</div>
<div class="cont">
  <div class="list">
    <div class="tb1"></div>
    <dl class="select">
      <dt>风格</dt>
      <dd>
        <ul>
          <li><a href="#">风格1</a></li>
          <li><a href="#">风格2</a></li>
          <li><a href="#">风格3</a></li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="list">
    <div class="tb6"></div>
    <dl class="select">
      <dt>用途</dt>
      <dd>
        <ul>
          <li><a href="#">用途1</a></li>
          <li><a href="#">用途2</a></li>
          <li><a href="#">用途3</a></li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="list">
    <div class="tb7"></div>
    <dl class="select">
      <dt>价位</dt>
      <dd>
        <ul>
          <li><a href="#">风格1</a></li>
          <li><a href="#">风格2</a></li>
          <li><a href="#">风格3</a></li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="list">
    <div class="tb8"></div>
    <dl class="select">
      <dt>颜色</dt>
      <dd>
        <ul>
          <li><a href="#">白色</a></li>
          <li><a href="#">蓝色</a></li>
          <li><a href="#">红色</a></li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="list">
    <div class="tb9"></div>
    <dl class="select">
      <dt>样式</dt>
      <dd>
        <ul>
          <li><a href="#">样式1</a></li>
          <li><a href="#">样式2</a></li>
          <li><a href="#">样式3</a></li>
        </ul>
      </dd>
    </dl>
  </div>
  
</div>
<div class="ann">提交</div>
</body>
</html>
