<style>
    .re-main{margin: 10px; min-height: 200px; width: 350px;}
    .re-list{line-height: 20px;}
    .re-list li{ margin-bottom: 10px;}
    .re-input{margin-top: 25px;}
    .re-text{ width: 300px; height: 100px;}
</style>
<div class="re-main">
    <div class="re-input">
        <form >
        <textarea class="re-text"></textarea>
            <input type="button" class="btn" value="提交" id="re-submit">
        </form>
    </div>
</div>
<script>
    $(function(){
        $("#re-submit").click(function(){
            $.post("/admin.php?s=/Pay/refund/transid/{$transid}.html",{"cont":$(".re-text").val()},function(msg){
                if(msg.status==1){
                    layer.msg("备注成功",{time:1000});
                    layer.closeAll('page');
                }
                else{
                    layer.msg("备注失败:"+msg.info,{time:1000});
                }
            },"json");
        });
    })
</script>