<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2><present name="data">[ {$data.title} ] 子</present>充电口管理 </h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('outlet_add',array('chargerid'=>$_GET['chargerid']))}">新 增</a>
        <button class="btn ajax-post confirm" url="{:U('outlet_del')}" target-form="ids">删 除</button>
        <button class="btn ajax-post confirm"  id="batch">批量生成</button>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft" style="display:none;">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入产品名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>设备号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="outlet">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$outlet.id}"></td>
                        <td>{$outlet.id}</td>
                        <td>{$outlet.name}</td>
                        <td>{$outlet.code}</td>
                        <td>{$outlet.status}</td>
                        <td>
                            <if condition="$outlet.qimg eq ''">
                            		
                            		
        <button class="btn ajax-post confirm" url="{:U('generate_qrcode',array('outletid'=>$outlet['id']))}" target-form="ids">生成二维码</button>
                            		<else/><a href="{$outlet['qimg']}" target="_blank">查看二维码</a></if>
                            <a title="编辑" href="{:U('outlet_edit?id='.$outlet['id'].'&chargerid='.$chargerid)}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('outlet_del?id='.$outlet['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">

        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {

            $("#batch").click(function(){
                var a = "{$outlet.id}";
                window.location.href = "{:U('batch?chargerid='.$chargerid,'','')}";
            });

            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>